body {
  margin: 0px;
}

canvas {
  background-color: lightblue;
  margin: 20px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRr4y4XCFTPuetBQBaFad-zF9morcYJBq__Q&s);
}

img {
  display: none;
}
